{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row ">
            <div class="col-3 mb-3">
                        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'blog-home' %}" class="btn btn-secondary btn-sm">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        </a></li>
                </ul>
            </div>
    <div class="content-section">
      <div class="media">
          {% if request.user.is_superuser %}
             <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profil Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
              {% if request.user.is_superuser %}
              {{ pic_form|crispy}}
              {% endif %}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}
